@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&family=Roboto+Condensed&display=swap');

*{
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  background-color: #E4D0D0;
  padding: 40px;
  font-family: 'Alkatra', cursive;
}

ul li{
  list-style: none;
}

ul li .container{
  height: 310px;
  border-radius: 55px;
  margin: 50px;
  box-shadow: 0 4px 8px 0 #867070;
  background-color: #D5B4B4;
}

ul li .content{
  font-size: medium;
  display: flex;
  
}

ul li p{
  padding-left: 20px;
  padding-bottom: 15px;
  width: 1300px;
  text-align :justify;
  font-family: 'Roboto Condensed', sans-serif;
}

ul li img{
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 50px;
  height: 150px;
}

ul li h3{
  padding: 20px;
  font-weight: 2em;
  font-size: 2em;
}

.data-item_delete {
    width:75px;
    height: 30px;
    position: absolute;
    margin-top: -50px;
    margin-left: 20px;
    border-radius: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #99627A;
    color: #E7CBCB;
    border: none;
}